.spinner {
  border: 4px solid hsl(var(--primary));
  border-left-color: hsl(var(--destructive));
  border-radius: 50%;
  width: 24px;
  height: 24px;

  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
