.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 64px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.header {
  grid-row: 1;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row: 2;
}

.footer {
  grid-row: 3;
}
